<!doctype html>
<title>MO EX table</title>

<script src="https://unpkg.com/htmx.org@1.9.2"></script>

<style>
table {width: 100%; min-width: 850px;}
input {width: 6em; text-align: right;}
.fav {font-weight: bold; }
</style>

<h1 align=center>MOEX table</h1>

<table>
  <tr>
    <th colspan=3>{{ user.email }}</th>
    <th align=right>plan</th>
    <th align=right><input type="text" name="kapital" value="{{ ub.total() }}" hx-patch="/" hx-target="body"></th>
    <th align=right>fact</th>
    <th align=right>{{ "%.0f" % ub.user_amount_sum }}</th>
    <th align=right>{{ "{:.0%}".format(ub.in_percent(ub.user_amount_sum, ub.total())) }}</th>
  </tr>

  {%- for we in ub.all %}
  <tr class="{% if we.code in ub.favorites %}fav{% endif %}">
    {%- set plan = ub.plans[we.code] %}
    {%- set fact = ub.facts[we.code] %}
    <td>{{we.shortname}}</td>
    <td>{{we.code}}</td>
    <td align=right>{{"%.2f" % we.price}}</td>
    <td align=right>{{"%.0f" % plan.count}}</td>
    <td align=right>{{"%.0f" % plan.amount}}</td>
    <td align=right><input type="text" name="{{we.code}}" value="{{'%.0f' % fact.count}}" hx-patch="/" hx-target="body"></td>
    <td align=right>{{"%.0f" % fact.amount}}</td>
    <td align=right>{{"{:.0%}".format(ub.get_in_percent(we.code))}}</td>
    <th>
      <button hx-patch="/" hx-target="body" hx-vals='{"toggle_fav": "{{we.code}}"}'>&#128151;</button>
      <button hx-patch="/" hx-target="body" hx-vals='{"toggle_ign": "{{we.code}}"}'>&#128078;</button>
    </th>
  </tr>
  {%- endfor %}

</table>

<p style="float: right;"><a href="/logout">logout</a></p>

<p>Ignored:
  {%- for code in ub.ignored %}
    <button hx-patch="/" hx-target="body" hx-vals='{"toggle_ign": "{{code}}"}'>{{code}}</button>
  {%- endfor %}
</p>
