<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MOEX table</title>

<script src="https://unpkg.com/htmx.org@1.9.2"></script>
<link rel="icon" href="data:,">

<style>
body {max-width: 500px; min-width: 380px; margin: 0 auto; padding: 1em;}
table {width: 98%; margin: 0 auto;}
table td {padding-bottom: 0.3em; padding-top: 0.3em; }
table .first {border-top: 1px solid black;}
input {width: 5em; text-align: right;}

html, a {color: #222;}
body, input {font-size: 16px;}

a {cursor: pointer; }
.fav {font-weight: bold; }
p {margin: 1em 0;}
</style>

<h1 align=center>MOEX table</h1>
<p align=center>
{{ session.email }}
<a href="/settings?layout=desktop">desktop layout</a>
<a href="/logout">logout</a>
</p>

<table>
  <colgroup>
     <col span="1" style="width: 20%;">
     <col span="1" style="width: 30%;">
     <col span="1" style="width: 30%;">
     <col span="1" style="width: 20%;">
  </colgroup>
  <tr>
    <th align=center>
      price
    </th>
    <th align=right>
      plan
      <br>
    <!-- </th> -->
    <!-- <th align=right> -->
      <input type="text" name="kapital" value="{{ ub.total() }}" hx-patch="/" hx-target="body">
    </th>
    <th align=right>
      fact
      <br>
    <!-- </th> -->
    <!-- <th align=right> -->
      {{ "{:,.0f}".format(ub.user_amount_sum) }}
    </th>
    <th align=center>{{ "{:.0%}".format(ub.in_percent(ub.user_amount_sum, ub.total())) }}</th>
  </tr>

  {%- for we in ub.all %}
  <tr>
    <td class=first align=center>
      <a hx-patch="/" hx-target="body" hx-vals='{"toggle_fav": "{{we.code}}"}'>&#128151;</a>
    </td>
    <td class="first {% if we.code in ub.favorites %}fav{% endif %}" colspan=2 align=center>
      {{we.shortname}}
    </td>
    <td class=first align=center>
      <a hx-patch="/" hx-target="body" hx-vals='{"toggle_ign": "{{we.code}}"}'
        hx-confirm="Убрать из таблицы?">
        &#128078;</a>
    </td>
  </tr>
  <tr class="">
    {%- set plan = ub.plans[we.code] %}
    {%- set fact = ub.facts[we.code] %}
    <td align=center>
      {{we.code}}
      <br>
      {{"{:,.0f}".format(we.price)}}
    </td>
    <td align=right>
      {{"%.0f" % plan.count}}
      <br>
    <!-- </td> -->
    <!-- <td align=right> -->
      {{"{:,.0f}".format(plan.amount)}}
    </td>
    <td align=right>
      <input type="text" name="{{we.code}}" value="{{'%.0f' % fact.count}}"
        hx-patch="/" hx-target="body">
      <br>
    <!-- </td> -->
    <!-- <td align=right> -->
      {{"{:,.0f}".format(fact.amount)}}
    </td>
    <td align=center>{{"{:.0%}".format(ub.get_in_percent(we.code))}}</td>
  </tr>
  {%- endfor %}

</table>

<p>Ignored:
  {%- for code in ub.ignored %}
    <button hx-patch="/" hx-target="body" hx-vals='{"toggle_ign": "{{code}}"}'
      hx-confirm="Вернуть в таблицу?">
      {{code}}
    </button>
  {%- endfor %}
</p>
