<body class="desktop" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<h1 align=center>MOEX table</h1>

<aside class="strategies">
  <p>{{ request.user.email }}</p>
  <p><a href="/settings?layout=mobile">mobile layout</a></p>
  <p><a href="/settings?show_target=toggle" hx-get="/settings?show_target=toggle" hx-target="body">show target</a></p>
  {% if user.is_staff %}
  <p><a href="{{ url('admin:index') }}">admin</a></p>
  {% endif %}

  <h2>Strategies</h2>
  {% for strategy in strategies %}
    <p>
      <a hx-get="{{ url('use_strategy', args=(strategy.id,)) }}" hx-target="body" href="{{ url('use_strategy', args=(strategy.id,)) }}">{{ strategy.name }}</a>
    </p>
  {% endfor %}

  <h2>Sort</h2>
  <p><a href="/settings?sort=fact_amount">По доле в портфеле<a></p>
  <p><a href="/settings?sort=strategy">По доле в стратегии<a></p>
</aside>

<table>
  <tr>
    <th align=left>
      <!-- кнопка избранного -->
      <a hx-post="/update_prices" hx-target="body">&#128260;</a>
    </th>
    <th align=left colspan=2></th>
    <th align=right>
      price
    </th>
    <th align=right>
      plan
    </th>
    <th align=right>
      <input type="text" name="capital" value="{{ ub.total() }}"
             hx-post="/" hx-target="body">
    </th>
    <th align=right>
      fact
    </th>
    <th align=right>
      {{ "{:,.0f}".format(ub.user_amount_sum) }}
    </th>
    {% if not show_target %}
    <th align=right title="Процент от плана">
      {{ "{:.0%}".format(ub.in_percent(ub.user_amount_sum, ub.total())) }}
    </th>
    <th align=right title="Процент от капитала">
      <!-- процент от капитала -->
    </th>
    {% else %}
    <th align=right>to buy</th>
    <th align=right>target</th>
    {% endif %}
    <th align=right>
      <!-- кнопка игнора -->
    </th>
  </tr>

  {%- for we in ub.all %}
  <tr class="{% if we.ticker in ub.favorites %}fav{% endif %}">
    {%- set plan = ub.plans[we.ticker] %}
    {%- set fact = ub.facts[we.ticker] %}
    {%- set row = rows.get(we.ticker) %}
    <td>
      <a hx-post="/" hx-target="body" hx-vals='{"toggle_fav": "{{we.ticker}}"}'>
        &#128151;</a>
    </td>
    <td {% if row %}class="{{ row.buy_class(we.price) }}"{% endif %}>
      {{we.shortname}}
    </td>
    <td align=right>
      <a href="https://www.moex.com/ru/issue.aspx?board=TQBR&code={{we.ticker}}&utm_source=www.moex.com&utm_term={{we.ticker}}" target="_blank">
        {{we.ticker}}
      </a>
    </td>
    <td align=right>
      {{"{:,.2f}".format(we.price)}}
    </td>
    <td align=right>
      {{"%.0f" % plan.count}}
    </td>
    <td align=right>
      {{"{:,.0f}".format(plan.amount)}}
    </td>
    <td align=right>
      <input type="text" name="{{we.ticker}}" value="{{'%.0f' % fact.count}}"
        hx-post="/" hx-target="body">
    </td>
    <td align=right>
      {{"{:,.0f}".format(fact.amount)}}
    </td>

    {% if not show_target %}
    <td align=right class="{% if ub.percent_of_plan(we.ticker) > 1.5 %}bigger{% endif %}">
      {{"{:.0%}".format(ub.percent_of_plan(we.ticker))}}
    </td>

    {%- set percent_of_total = ub.percent_of_total(we.ticker) %}
    <td align=right>
      {% if percent_of_total %}{{"{:.1%}".format(percent_of_total)}}{% endif %}
    </td>
    {% else %}
    <td align=right>
      <input type="text" name="price_to_buy-{{we.ticker}}" value="{% if row %}{{'%.0f' % row.price_to_buy}}{% else %}0{% endif %}"
             hx-post="/set_row">
    </td>
    <td align=right>
      <input type="text" name="price_target-{{we.ticker}}" value="{% if row %}{{'%.0f' % row.price_target}}{% else %}0{% endif %}"
             hx-post="/set_row">
    </td>
    {% endif %}

    <th align=right>
      <a hx-post="/" hx-target="body" hx-vals='{"toggle_ign": "{{we.ticker}}"}'
        hx-confirm="Убрать из таблицы?">
        &#128078;</a>
    </th>
  </tr>
  {% if show_target %}
  <tr>
    <td></td>
    <td colspan="9" class="description">
      <input type="text" name="description-{{ we.ticker }}" value="{% if row %}{{row.description}}{% endif %}"
             hx-post="/set_row">
    </td>
  </tr>
  {% endif %}
  {%- endfor %}

</table>

<p>Ignored:
  {%- for ticker in ub.ignored %}
    <button hx-post="/" hx-target="body" hx-vals='{"toggle_ign": "{{ticker}}"}'
      hx-confirm="Вернуть в таблицу?">
      {{ticker}}
    </button>
  {%- endfor %}
</p>
</body>
